aside{
    background-color: #1D3485;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box
}
aside ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}
aside .ellipsis {
    padding: 30px 0;
    border-bottom: 0.5px solid rgba(170, 182, 232, 0.479)
}
aside .ellipsis i {
    margin: 0
}
aside i{
    color: #AAB6E8;
    margin-bottom: 5px
}
aside li{
    list-style: none;
    color: #AAB6E8;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 22px 0;
    box-sizing: border-box;
    font-size: 13px
}
aside li:hover {
    background-color: #172B72;
    color: #DEE8FF
}

@media screen and (max-width: 768px){
    aside{
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    aside .ellipsis {
        padding: 20px 0;
    }
    aside i{
        margin-bottom: 3px
    }
    aside li{
        padding: 15px 0;
        font-size: 9px
    }
}

@media screen and (max-width: 640px){
    aside{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    aside .ellipsis {
        padding: 10px 0;
    }
    aside i{
        margin-bottom: 2px
    }
    aside li{
        padding: 6px 0;
        font-size: 4px
    }
}

@media screen and (max-width: 480px){
    aside{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    aside .ellipsis {
        padding: 10px 0;
    }
    aside i{
        margin-bottom: 2px
    }
    aside li{
        padding: 6px 0;
        font-size: 4px
    }
}