.segment {
    background-color: rgba(207, 201, 201, 0.192);
    margin: 20px 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 25% 75%;
    box-sizing: border-box;
    border-radius: 7px
}
.segment h3,p {
    margin: 0;
    padding: 0
}
.segment .header img {
    width: 33px;
    height: 33px;
    border-radius: 50%
}
.segment .header p {
    color: #929EB2;
    margin-bottom: 10px;
}
.segment .header i {
    color: #1D3485
}
.segment .header .avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px
}
.segment .header .avatar i {
    font-size: 15px;
    margin-left: 5px
}
.segment .header .begin {
   font-weight: bolder;
   font-size: 12px
}
.segment .header .begin i {
    margin-right: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: #F4E0F0;
    font-size: 7px
}
.segment .name h3 {
    color: #1D3485;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px
}
.segment p {
    color: rgba(29, 52, 133, 0.397);
    font-size: 10px;
    margin-bottom: 15px
}
.segment span {
    color: #1D3485;
    font-size: 12px
}
.images {
    box-sizing: border-box;
    margin-left: 10px
}
.images .materials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1D3485;
}
.images .materials span {
    font-weight: bolder
}
.images .materials i {
    margin-left: 3px;
    color: #1D3485;
}
.images .list {
    display: flex;
    margin-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.images h3{
    color: #1D3485;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px
}
.images img{
    width: 90px;
    height: 90px;
    border-radius: 5px
}
.images .one {
    border-radius: 6px;
    margin: 10px;
}
.images .one p {
    font-weight: bold;
    color: #1D3485;
    margin: 0;
    padding: 0
}
.images .one span {
    font-size: 7px;
    color: #C9CFD4
}
.images .one .one-title {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width: 768px){
    .segment {
        margin: 10px 0;
        padding: 8px;
        border-radius: 4px
    }
    .segment .header img{
        width: 24px;
        height: 24px;
        border-radius: 50%
    }
    .segment .header p {
        margin-bottom: 5px;
    }
    .segment .header .avatar {
        margin-bottom: 4px
    }
    .segment .header .avatar i {
        font-size: 10px;
        margin-left: 3px
    }
    .segment .header .begin {
       font-size: 8px
    }
    .segment .header .begin i{
        margin-right: 6px;
        padding: 5px;
        font-size: 4px
    }
    .segment .name h3{
        font-size: 18px;
        margin-bottom: 5px
    }
    .segment p{
        font-size: 6px;
        margin-bottom: 7px
    }
    .segment span {
        font-size: 8px
    }
    .images {
        margin-left: 7px
    }
    .images .materials i {
        margin-left: 2px;
    }
    .images .list {
        margin-left: 6px;
    }
    .images h3{
        font-size: 15px;
        margin-left: 10px
    }
    .images img{
        width: 60px;
        height: 60px;
        border-radius: 4px
    }
    .images .one {
        border-radius: 5px;
        margin: 6px;
    }
    .images .one span {
        font-size: 4px;
    }
}

@media screen and (max-width: 640px){
    .segment {
        margin: 5px 0;
        padding: 4px;
        border-radius: 2px
    }
    .segment .header img{
        width: 13px;
        height: 13px;
    }
    .segment .header p {
        margin-bottom: 3px;
    }
    .segment .header .avatar {
        margin-bottom: 2px
    }
    .segment .header .avatar i {
        font-size: 5px;
        margin-left: 2px
    }
    .segment .header .begin {
       font-size: 4px
    }
    .segment .header .begin i{
        margin-right: 3px;
        padding: 2px;
        font-size: 2px
    }
    .segment .name h3{
        font-size: 10px;
        margin-bottom: 3px
    }
    .segment p{
        font-size: 4px;
        margin-bottom: 1px
    }
    .segment span {
        font-size: 3px
    }
    .images {
        margin-left: 4px
    }
    .images .materials i {
        margin-left: 1px;
        font-size: 2px
    }
    .images .list {
        margin-left: 3px;
    }
    .images h3{
        font-size: 8px;
        margin-left: 5px
    }
    .images img{
        width: 35px;
        height: 35px;
        border-radius: 3px
    }
    .images .one {
        border-radius: 3px;
        margin: 3px;
    }
    .images .one span {
        font-size: 2px;
    }
}

@media screen and (max-width: 480px){
    .segment {
        margin: 4px 0;
        padding: 3px;
        border-radius: 2px
    }
    .segment .header img{
        width: 9px;
        height: 9px;
    }
    .segment .header p {
        margin-bottom: 2px;
    }
    .segment .header .avatar {
        margin-bottom: 2px
    }
    .segment .header .avatar i {
        font-size: 4px;
        margin-left: 2px
    }
    .segment .header .begin {
       font-size: 3px
    }
    .segment .header .begin i{
        margin-right: 2px;
        padding: 2px;
        font-size: 2px
    }
    .segment .name h3{
        font-size: 7px;
        margin-bottom: 2px
    }
    .segment p {
        font-size: 3px;
        margin-bottom: 1px
    }
    .segment span {
        font-size: 2px
    }
    .images {
        margin-left: 3px
    }
    .images .materials i {
        margin-left: 1px;
        font-size: 1.6px
    }
    .images .list {
        margin-left: 2px;
    }
    .images h3{
        font-size: 5.5px;
        margin-left: 4px
    }
    .images img{
        width: 30px;
        height: 30px;
        border-radius: 2px;
    }
    .images .one {
        border-radius: 2px;
        margin: 2px;
    }
    .images .one span {
        font-size: 1.8px;
    }
    .images .one-title p{
        margin: 0
    }
}