nav {
    color: #082753;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box
}
nav .header {
    font-weight: bold;
    font-size: 10px
}
nav .header i {
    color: #C0C5CA
}
.others, .image, .find {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500
}
nav img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px
}
nav .find, i {
    color: #C0C5CA;
    margin-right: 2px;
    font-size: 11px;
    font-weight: 100
}
nav input[type=text] {
    border: none;
    color: rgba(128, 128, 128, 0.795);
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
    width: 100px
}
nav .find, button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
::placeholder{
    color: #C0C5CA;
    font-size: 11px;
}
nav button{
    background-color: inherit;
    border: none;
}
nav .image {
    margin-left: 10px;
    font-weight: bolder;
    font-size: 10px
}

@media screen and (max-width: 768px){
    nav {
        font-size: 10px;
    }
    nav .header {
        font-size: 7px
    }
    .others, .image, .find {
        font-size: 8px;
    }
    nav img{
        width: 12px;
        height: 12px;
        margin-left: 7px
    }
    nav .find, i {
        font-size: 7px;
    }
    nav input[type=text] {
        font-size: 6px;
        width: 65%
    }
    ::placeholder{
        font-size: 6px;
    }
    nav .image {
        margin-left: 7px;
        font-size: 6px
    }
}

@media screen and (max-width: 640px){
    nav {
        font-size: 7px;
    }
    nav .header {
        font-size: 4px;
    }
    .others, .image, .find {
        font-size: 5px;
    }
    nav img{
        width: 5px;
        height: 5px;
        margin-left: 3px
    }
    nav .find, i {
        font-size: 4px;
    }
    nav input[type=text] {
        font-size: 3px;
        width: 50%
    }
    ::placeholder{
        font-size: 3px;
    }
    nav .image {
        margin-left: 3px;
        font-size: 2.5px
    }
}

@media screen and (max-width: 480px){
    nav {
        font-size: 5px;
    }
    nav .header {
        font-size: 3px;
    }
    .others, .image, .find {
        font-size: 3px;
    }
    nav img{
        width: 4px;
        height: 4px;
        margin-left: 2px
    }
    nav .find, i {
        font-size: 2px;
    }
    nav input[type=text] {
        font-size: 2px;
        width: 40%
    }
    ::placeholder{
        font-size: 2px;
    }
    nav .image {
        margin-left: 3px;
        font-size: 2px
    }
}